.grid img{
    height: 200px;
    width: 200px;
    margin: 5px;
}
.menu {
    color: black;
}
#button {
    
    width: 9em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}